/CoinChangeProblem/nbproject/private/
/CoinChangeProblem/build/
/LongestCommonSubsequebnce/nbproject/private/
/LongestCommonSubsequebnce/build/
/Sub Set Sum Problem/nbproject/private/
/Sub Set Sum Problem/build/
/BWT implementaion/nbproject/private/
/BWT implementaion/build/